.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
}

.name-nav {
  background: linear-gradient(to bottom right, #1d376e, #b9c8e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
