.navbar-outside {
  backdrop-filter: blur(10px);
  background-color: #fcefb4;
  -webkit-backdrop-filter: blur(10px);
  font-family: "Yeseva One", serif;
  padding: 0 0;
  border-top: #243a9b 5px solid;
  border-bottom: #243a9b 5px solid;
  /* justify-content: space-between; */
  color: black !important;
}

.navbar-inside {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0;
  width: 100vw;
  color: black;
  border-top: 5px solid #d4af37;
  border-bottom: 5px solid #d4af37;
}

.navbar-brand {
  font-family: "Yeseva One", serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
}

.name-nav {
  background: linear-gradient(to bottom right, #243a9b, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: transparent 1px solid;
}

.name-nav:hover {
  border-bottom: white 1px solid;
  /* margin: 0; */
}

.container-nav {
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
}

.nav-item {
  color: white;
  border-bottom: transparent 1px solid;
}

.nav-item:hover {
  border-bottom: white 1px solid;
}

@media (max-width: 1024px) {
  .navbar {
    filter: none;
    backdrop-filter: none;
  }

  .navbar-brand {
    /* background-color: transparent; */
    /* font-size: medium !important; */
  }

  .navbar-toggler {
    padding: 0.3rem !important;
  }

  .name-nav {
    margin-left: 0.5rem;
  }
}
