.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
}

.name-nav {
  background: linear-gradient(to bottom right, #971d1d, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: transparent 1px solid;
}

.name-nav:hover {
  border-bottom: white 1px solid;
  /* margin: 0; */
}

.container-nav {
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
}

.nav-item {
  color: white;
  border-bottom: transparent 1px solid;
}

.nav-item:hover {
  border-bottom: white 1px solid;
}

@media (max-width: 1024px) {
  .navbar {
    filter: none;
    backdrop-filter: none;
  }

  .navbar-brand {
    /* background-color: transparent; */
    /* font-size: medium !important; */
  }

  .navbar-toggler {
    padding: .3rem !important;
  }

  .name-nav {
    margin-left: 0.5rem;
  }
}
