.carousel {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}

.carousel-indicators {
  z-index: 1;
  /* background-color: black; */
  margin: 0 0;
  /* filter: invert(1); */
  position: relative !important;
}

.carousel-inner {
  z-index: 0;
}

.carousel-control-next,
.carousel-control-prev {
  /* filter: invert(1); */
  position: relative !important;
}
