.schedule {
  height: fit-content;
  position: relative;
  height: min(100vh, 100%);
  z-index: 10;
}

.frame-schedule {
  position: absolute;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.carousel {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}

.carousel-indicators {
  z-index: 1;
  /* background-color: black; */
  margin: 0 0;
  /* filter: invert(1); */
  position: relative !important;
}

.carousel-inner {
  z-index: 0;
}

.carousel-control-next,
.carousel-control-prev {
  /* filter: invert(1); */
  position: relative !important;
}
