.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sponsor-img {
    width: 10% !important;
    height: auto;
}

@media (max-width: 768px) {
    .sponsor-img {
        width: 25% !important;
        height: auto;
    }
}