@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap');

html, body {
  overflow-x: hidden;
}

.App {
  font-family: "Yeseva One", serif;
  overflow-x: hidden;
}
