@import url("https://fonts.cdnfonts.com/css/constan");
@import url("https://fonts.cdnfonts.com/css/elephant");

body {
  margin: 0;
  font-family: "Elephant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h5 {
  font-size: 1.7rem;
  font-weight: 300;
}

p,
a {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0;
}

li {
  font-size: 1.3rem;
  margin: 0 0;
}
